<div class="add-form">
  <form id="filterForm" action="/shopping" method="POST">
    <label for="item">Filter by:</label>
    <input type="text" name="item" value="" id="item" size="50" maxlength="50" required />
    <button type="submit"><i class="fas fa-search"></i>Filter items</button>
  </form>
</div>
