<div class="add-form">
  <form id="filterForm" action="/" method="POST">
    <label for="info">Filter by artist/title/genre:</label>
    <input type="text" name="info" value="" id="info" size="30" maxlength="50" />
    <label for="year">or year</label>
    <input type="number" name="year" value="" id="year" min="2010"  max="2019"/>
    <button type="submit"><i class="fas fa-search"></i>Filter</button>
  </form>
  <button type="button" id="resetFilters"><i class="fas fa-times"></i>Reset</button>
</div>
